$highlighted:           #ff6600;
$active_link:           #fff;
$main_color_1:          #1b274c;
$backdrop:              rgba(0,0,0,0.8);
$border:                #ced4da;
$border-focus:          #80bdff;
